@font-face {
    font-family: 'Poppins';
    src: url(../font/Poppins-Medium.ttf);
}

* {
    margin: 0;
}

body {
    background-image: url(../asset/img/abstract-background-with-a-network-connections-background-design-free-vector.jpg);
}

/* debut du header */

header, #headerGauche, #bloclLogo {
    display: flex;
    align-items: center;
}

header {
    height: 80px;
    background-color: #17C6ED40;
    justify-content: space-between;
}

#bloclLogo {
    width: 120px;
    height: 80px;
    background-color: #05042C;
    justify-content: center;
}

#logoPersonnel {
    width: 80px;
}

.lienPage {
    margin: 0 30px;
    font-family: 'Poppins', sans-serif;
    color: white;
}

/* fin du header */